.about {
    margin-bottom: 80px;
}

.about__container {
    position: relative;
    padding-top: 97px;
}

.about__img:before {
    content: "";
    display: block;
    width: 490px;
    height: 505px;
    top:0;
    left:0;
    background: url(../../picha/gates.png) center center / cover no-repeat;
    position: absolute;
}

.title--dark {
    color: #000;
    font-size: 36px;
    margin-bottom: 37px;
    font-weight: bold;
}

.about__content {
    background: url(../../picha/mountains.png) center center / cover no-repeat;
    padding: 70px 202px 66px 81px;
    width: 785px;
    margin-left: auto;
    position: relative;
}

.about__text {
margin-bottom: 43px;
font-size: 16px;
color: #000;
}

.about__text:last-child {
    margin-bottom: 0;
}

