.container-footer__sectiion {
    padding: 15px 0;
    background: #001821;
    display: flex;
    justify-content: space-between;
}

.inner__footer {
    margin-top: auto;
}

.contacts__phone {
    color: #FFFF;
}

.menu__list {
    color: #FFFF;
}

.socials {
    margin-right: 74px;
    display: flex;
    justify-content: flex-end;
}