.header {
    padding-top: 26px;
    margin-bottom: 180px;
    height: 70px;
}

.header__container {
    position: relative;
}

.logo, .menu, .menu__item {
    display: inline-block;
}

.logo, .menu, .contacts {
    position: absolute;
}



.logo {
    margin-top: 29px;
    transform: translate(0%, -50%);
    margin-right: 79px;
    width: 85px;
    height: 36px;
}
    



.menu__item {
    margin-right: -100px;
    margin-top: 25px;
     vertical-align: middle;
    margin-left: 130px;
}

.menu__item--active .menu__link{
    color: #F5170E;
}
   
.menu__item:last-child {
        margin-right: 0;
    }

.menu__list{
    font-size: 12px;
    
}

.menu__list:hover {
    color: #F5170E;


}

.contacts {
    right: 230px;
    margin-top: 15px;
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    font-size: 21px;
    margin-bottom: 4px;
    font-weight: normal;
    text-decoration: none;
}

.contacts__shedule {
    font-size: 10px;


    
}