.header {
    padding-top: 26px;
    margin-bottom: 131px;
    height: 70px;
}

.header__container {
    position: relative;
}





.logo {
    width: 85px;
    height: 36px;
    display: inline-block;
    margin-right: 75px;
    vertical-align: middle;
}
    
.menu {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    margin-right: 54px;
    padding-top: 8px;
}



.menu__item {
    display: inline-block;
     vertical-align: middle;
     margin-right: 51px;
    
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item--active .menu__link{
    color: #F5170E;
}
   



.menu__link:hover {
    color: #F5170E;


}

.contacts {
    top: 0;
    position: absolute;
    right: 0px;
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    font-size: 26px;
    font-weight: normal;
    text-decoration: none;
    display: block;
    line-height: 1.2;
    padding-top: 8px;
}

.contacts__shedule {
    font-size: 13px;
    line-height: 1;
    text-decoration: underline;

    
}

.contacts__free {
    font-size: 11px;
line-height: 20px;

color: #9A9A9A;
}