.page-content {
    background: #ffffff;
    color: #303030;
    padding-top: 97px;
    

}

.services {
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
    
}

.batton:hover {
    background: #da0100;
}

.service__img {
    width: 460px;
    margin-right: 56px;
}

.service__content {
    flex: 1;
    padding-top: 13px;
}

.service__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
   

}

.service__dsc {
    line-height: 1.5;
    margin-bottom: 45px;
}

.pagination--theme--light {
    color: #000000;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination--theme--light .pagination__current--active .pagination__link{
    color: #ffffff;
    background: #da0100;
}

.pagination__reviews {
    margin-bottom: 87px;
}

.inner-section__title {
    font-size: 48px ;
}