
.offers {
    margin-bottom: 120px;
    

}

.offers__box-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}

.offers__list {
   
   min-height: 450px;
   display: flex;
   justify-content: space-between;

}

.offers__country{
    border-radius: 4px;
    width: calc(100% / 3 - 18px);
    background: #ffffff;
    
    
}

.offers__content{
    padding: 36px 16px 26px 22px;
    color: #000;
    
}

.offers__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 23px;
}

.offers__country:last-child {
    margin-right: 0;
}

.offers__features {
    display: flex;
    align-items: center;
    padding-left: 4px;
    margin-bottom: 24px;
}

.offers__feature {
    display: flex;
    justify-content: center;
    margin-right: 23px;
}
.offers__feature, .offers__feature-icon, .offers__feature-text {
    display: flex;
}

.offers__feature-img {
    margin-right: 10px;
}

.offers__feature-text {
    
    
    font-size: 16px;
    color: #666666;
}
.offers__text {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 24px;
}
.offers__feature-text:last-child {
    margin-right: 0;
}

