
.offers {
    margin-bottom: 109px;
    

}

.offers__box-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}

.offers__list {
   
   min-height: 470px;

}

.offers__country{
    display: inline-block;
    border-radius: 4px;
    width: 362px;
    background: #ffffff;
    margin-right: 22px;
    
}

.offers__content{
    padding: 36px 16px 26px 22px;
    color: #000;
    
}

.offers__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 23px;
}

.offers__country:last-child {
    margin-right: 0;
}

.offers__features {
    padding-left: 4px;
    margin-bottom: 24px;
}

.offers__feature {
    margin-right: 23px;
}
.offers__feature, .offers__feature-icon, .offers__feature-text {
    display: inline-block;
    vertical-align: middle;
}

.offers__feature-img {
    margin-right: 10px;
}

.offers__feature-text {
    
    
    font-size: 16px;
    color: #666666;
}
.offers__text {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 24px;
}
.offers__feature-text:last-child {
    margin-right: 0;
}

